In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
# Machine Learning - Sklearn
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV, StratifiedKFold, learning_curve, validation_curve
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, ExtraTreesClassifier, VotingClassifier, BaggingClassifier
from sklearn.linear_model import LogisticRegression, RidgeClassifier, SGDClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder, PowerTransformer, QuantileTransformer
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, precision_recall_curve, average_precision_score, cohen_kappa_score, matthews_corrcoef, log_loss
from sklearn.feature_selection import SelectKBest, f_classif, mutual_info_classif, RFE, RFECV
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.inspection import permutation_importance

In [49]:
def load_and_explore_data():
    """Load and perform initial exploration of the tsunami dataset"""
    df = pd.read_csv('earthquake_data_tsunami.csv')
    df.info()
    return df

In [51]:
df.shape

(782, 13)

In [53]:
df.info

<bound method DataFrame.info of      magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude  \
0          7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1          6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2          7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3          7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4          6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278
..         ...  ...  ...  ...  ...    ...   ...      ...       ...        ...
777        7.7    0    8  912  427  0.000   0.0   60.000   13.0490    -88.660
778        6.9    5    7  745    0  0.000   0.0   36.400   56.7744   -153.281
779        7.1    0    7  776  372  0.000   0.0  103.000  -14.9280    167.170
780        6.8    0    5  711   64  0.000   0.0   33.000    6.6310    126.899
781        7.5    0    7  865  324  0.000   0.0   33.000    6.8980    126.579

     Year  Month  tsunami
0    2022     11        1
1    2022     11        0
2    2022     11        1
3    2022     11        1
4    2022     11        1
..    ...    ...      ...
777  2001      1        0
778  2001      1        0
779  2001      1        0
780  2001      1        0
781  2001      1        0

[782 rows x 13 columns]>

In [55]:
df.head(20)

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
0,7.0,8,7,768,117,0.509,17.0,14.000,-9.7963,159.5960,2022,11,1
1,6.9,4,4,735,99,2.229,34.0,25.000,-4.9559,100.7380,2022,11,0
2,7.0,3,3,755,147,3.125,18.0,579.000,-20.0508,-178.3460,2022,11,1
3,7.3,5,5,833,149,1.865,21.0,37.000,-19.2918,-172.1290,2022,11,1
4,6.6,0,2,670,131,4.998,27.0,624.464,-25.5948,178.2780,2022,11,1
5,7.0,4,3,755,142,4.578,26.0,660.000,-26.0442,178.3810,2022,11,1
6,6.8,1,3,711,136,4.678,22.0,630.379,-25.9678,178.3630,2022,11,1
7,6.7,7,6,797,145,1.151,37.0,20.000,7.6712,-82.3396,2022,10,1
8,6.8,8,7,1179,175,2.137,92.0,20.000,18.3300,-102.9130,2022,9,1
9,7.6,9,8,1799,271,1.153,69.0,26.943,18.3667,-103.2520,2022,9,1
10,6.9,9,9,887,215,0.401,34.0,10.000,23.1444,121.3070,2022,9,1
11,6.5,7,7,756,178,0.430,54.0,10.000,23.0290,121.3480,2022,9,1
12,7.0,7,5,761,192,2.977,45.0,137.000,-21.2077,170.2390,2022,9,1
13,7.6,8,8,965,272,3.158,12.0,116.000,-6.2237,146.4710,2022,9,1
14,6.6,9,8,1043,141,8.454,34.0,12.000,29.7263,102.2790,2022,9,0
15,6.6,7,6,672,68,5.293,34.0,30.000,-32.6922,-178.9590,2022,8,1
16,7.0,9,8,1351,152,5.276,22.0,33.729,17.5978,120.8090,2022,7,1
17,6.5,3,2,653,236,1.999,31.0,622.730,-9.0618,-71.1647,2022,6,0
18,7.2,7,5,876,144,2.494,40.0,236.000,-14.8628,-70.3081,2022,5,1
19,6.9,2,5,733,127,0.371,45.0,10.000,-54.1325,159.0270,2022,5,1

In [57]:
df.describe()

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,6.941125,4.333760,5.964194,870.108696,230.250639,1.325757,25.038990,75.883199,3.538100,52.609199,2012.280051,6.563939,0.388747
std,0.445514,3.169939,1.462724,322.465367,250.188177,2.218805,24.225067,137.277078,27.303429,117.898886,6.099439,3.507866,0.487778
min,6.500000,0.000000,1.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000,2001.000000,1.000000,0.000000
25%,6.600000,0.000000,5.000000,691.000000,0.000000,0.000000,14.625000,14.000000,-14.595600,-71.668050,2007.000000,3.250000,0.000000
50%,6.800000,5.000000,6.000000,754.000000,140.000000,0.000000,20.000000,26.295000,-2.572500,109.426000,2013.000000,7.000000,0.000000
75%,7.100000,7.000000,7.000000,909.750000,445.000000,1.863000,30.000000,49.750000,24.654500,148.941000,2017.000000,10.000000,1.000000
max,9.100000,9.000000,9.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000,2022.000000,12.000000,1.000000